/*-- Variables --------------------------------------------*/

:root{
    --color_1: #f8f5ea;
    --color_2: #778da9;
    --color_3: #415a77;
    --color_4: #1b263b;
    --color_5: #0d1b2a;

    --header_height: 30px;
    --nav_height: 60px;
    --footer_height: 200px;

    --font_size_nav: 1.3em;
    --heigth_logo_nav: calc(var(--nav_height)*0.8);
    --margin_box_link: calc(100vw/8 - var(--heigth_logo_nav));

    --main_padding_w: calc(100vw/8);
    --main_padding_h: 70px;
    --main_w: calc(100vw - 2*var(--main_padding_w));

    --funct_w: 380px;

    --heigth_logo_gp: calc(var(--footer_height)/2)
}

/*-- Global -----------------------------------------------*/

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.tabu {
    padding-left: 5%;
}

/*-- Header ----------------------------------------------*/

header {
    margin: 0;
    background-color: var(--color_3);
    height: var(--header_height);
    display: flex;
    justify-content: right;
    align-items: center;
}

header a {
    margin-right: 10px;
    color: var(--color_1);
    font-weight: bold;
}

h2, h3 {
    color: var(--color_4)
}

/*-- Nav -------------------------------------------------*/

nav {
    margin: 0;
    background-color: var(--color_2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav_height);
}

#home_link {
    margin-left: var(--main_padding_w);
    display: flex;
    align-items: center;
}

#house_icon {
    margin-right: 10px;
    font-size: calc(var(--font_size_nav)*1.5);
    color: var(--color_5);
}

#home_link h1 {
    font-size: var(--font_size_nav);
    margin: 0;
    color: var(--color_4);
}

#box_links {
    display: flex;
}

#box_links a {
    font-size: var(--font_size_nav);
    color: var(--color_4);
    position: relative;
    padding-bottom: 2px;
}

#box_links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color_5);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    color: var(--color_4);
}

#box_links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#sep_nav{
    width: calc(100vw*0.05);
}

#logo_nav {
    height: var(--heigth_logo_nav);
    margin: 0 10px;
}

@media screen and (max-width: 800px) {
    nav a h1 {
        display: none;
    }
}

/*-- Main ------------------------------------------------*/

main {
    background-color: var(--color_1);
    padding: var(--main_padding_h) var(--main_padding_w);
}

.little_link {
    position: relative;
    padding-bottom: 2px;
    color: var(--color_5);
}

.little_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0; left: 0;
    background-color: var(--color_5);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    color: var(--color_5);
}

.little_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*-- Accueil ---------------------------------------------*/

.p_acc {
    color: var(--color_5);
    margin-bottom: 5px;
    text-align: justify;
    font-size: 103%;
    line-height: 150%;
}

#div_container_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

#div_container_imgs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_container_imgs p {
    text-align: justify;
}

#div_or_model {
    width: 450px;
}

#div_ex1 {
    width: 750px;
}

.div_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.p_img {
    width: 80%;
    text-align: justify;
}

#descr_meth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

#descr_meth ul {
    list-style: none;
    padding: 0 10px;
}

.img_acc {
    border: var(--color_3) solid 2px;
    border-radius: 10px;
    width: 80%;
}

#list_art li {
    padding: 5px;
}

/*-- Développement ---------------------------------------*/

#box_list_prog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_functs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 30px 0;
}

.funct {
    width: var(--funct_w);
    margin: 10px;
    padding: 0 10px 20px 10px;
    border: solid 2px var(--color_3);
    border-radius: 10px;
}

.funct p {
    margin: 0;
}

.pr {
    padding: 2% 0;
}

.library {
    padding-bottom: calc(var(--main_padding_h)/3);
}

.library .little_link {
    font-weight: bold;
}

.library ul li {
    padding: 0.5%;
}

/*-- group ----------------------------------------------*/

#p_gp {
    margin-bottom: calc(var(--main_padding_h)/2);
    font-size: 1.1em;
}

.sect_gp {
    border: var(--color_3) 2px solid;
    border-radius: 10px;
    margin: calc(var(--main_padding_h)/2) 0;    
}

.sect_gp p {
    margin-left: calc(var(--main_padding_w)/8);
}

.sect_gp .icon_gp {
    font-size: 20px;
    margin-right: 5px;
}

.sect_gp ul {
    margin-left: calc(var(--main_padding_w)/3);
}

#box_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--main_padding_h);
}

#box_logos #logo_ua {
    height: var(--heigth_logo_gp);
    margin-right: 5vw;
}

#box_logos #logo_dl {
    height: var(--heigth_logo_gp);
    margin-left: 5vw;
}

/*-- Footer ----------------------------------------------*/

footer {
    background-color: var(--color_4);
    color: var(--color_1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--footer_height);
}

#github {
    height: calc(var(--footer_height)/3);
    margin: 20px;
}

footer p {
    margin: 0;
}