/*
:root{
    first_color: ;
    second_color: ;
    third_color: ;
}
*/


h1 {
    text-align: center;
}

a {
    background-color: blue;
    text-decoration: none;
    border: black solid 1px;
    border-radius: 10px;
   
    color: white;
    padding: 10px;
    
}